.card {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: linear-gradient(135deg, #1a2a44 0%, #2a3a54 100%);
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  backdrop-filter: blur(5px);
  color: white;
  border: 2px solid rgba(0, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card.active {
  border-color: #00ffff;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

.card.inactive {
  border-color: rgba(255, 255, 255, 0.3);
  opacity: 0.8;
}

.card.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.card.disabled:hover {
  transform: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.content{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
