.container {
  max-width: 800px;
  width: 70vw;
  height: 50vh;
  min-height: 300px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
  position: relative;
}

.container:hover {
    transform: scale(1.05);
    border: 1px solid black;
}

.heading {
    text-align: center;
    margin: 1em;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.buttonContainer{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    text-decoration: none;
    width: 80%;
    cursor: default;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
    font-size: 16px;
  }
  
.button:hover {
    background-color: black;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.errorMessage{
    font-size: 15px;
    width: 50vw;
    color: rgba(255, 0, 0, 0.75);
}


.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    height: 30px;
    min-width: 230px;
    width: 80%;
  }
  
  .inputIcon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .inputField {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }