<div class="container">
    <app-back-arrow path="/login"/>
    <h2 class="heading">Rejestracja</h2>
    <form [formGroup]="signUpForm" (submit)="onSubmit()" class="form">
        <app-form-field
            class="form"
            iconPatch="{{iconPatch.email}}"
            type="email"
            name="email"
            placeholder="Email"
            (form)="getForm($event)"
            errorMessage="{{ERRORS?.email}}"
        /> 
        <app-form-field
            class="form"    
            iconPatch="{{iconPatch.password}}"
            type="password"
            name="password"
            placeholder="Hasło"
            (form)="getForm($event)"
            errorMessage="{{ERRORS?.password}}"
        /> 
        <app-form-field
            class="form"    
            iconPatch="{{iconPatch.password}}"
            type="password"
            name="password2"
            placeholder="Powtórz hasło"
            (form)="getForm($event)"
            errorMessage="{{ERRORS?.password2}}"
        /> 
        <app-form-field
            class="form"    
            iconPatch="{{iconPatch.password}}"
            type="password"
            name="pin"
            placeholder="Kod PIN"
            pattern="^[0-9]+$"
            (form)="getForm($event)"
            errorMessage="{{ERRORS?.pin}}"
        /> 
        <button type="submit" class="button">Zarejestruj się</button>
    </form>
    @if(successfulMessage){
        <p class="successfulMessage">{{successfulMessage}}</p>
    }
</div>