.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background: linear-gradient(135deg, #1a2a44 0%, #2a3a54 100%);
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  backdrop-filter: blur(5px);
  color: white;
  border: 2px solid rgba(0, 255, 255, 0.3);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
  border-color: #00ffff;
}

.star {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}

.star:hover {
  transform: scale(1.2);
}

.lock {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.card h1,
.card h2,
.card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #00ffff;
  margin: 10px 0;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
  text-align: center;
}

.card p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin: 5px 0;
  text-align: center;
}

.card p:first-of-type {
  font-size: 16px;
  color: #00ffff;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.3);
}
.devicesInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  grid-column: 1 / 3;
}
