.container {
  min-width: 250px;
}
.cards {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.div {
  display: flex;
  gap: 10px;
}
