
.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(
            135deg,
            rgba(255,255,255,0.02) 0%,
            rgba(255,255,255,0.03) 100%
    );
    display: flex;
    scrollbar-width: none;
    padding: 0;

}

.content {
    flex: 1;
    /*padding: 24px;*/
    overflow-y: scroll;
    scrollbar-width: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/*@media (max-width: 768px) {*/
/*    .content {*/
/*        padding: 16px;*/
/*    }*/
/*}*/