.basic {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base);
  color: var(--accent-primary);
  transition: var(--transition-normal);
  text-align: center;
}
.disabled {
  opacity: 0.5;
}
