.panel {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}
.videoWrapper {
    position: relative;
    width: 100%;
    background: #000;
    border-radius: 0.5rem;
    overflow: hidden;
    flex-shrink: 0;                 /* nie pozwala wrapperowi się kurczyć */
    /* aspect-ratio zostanie ustawione dynamicznie przez JS */
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 100;

}
.threeDots{
    position: static;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.errorMessage{
    justify-self: center;
}