.container {
    position: relative; 
    padding: 2em;
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
}
.successfullyMessage{
    font-size: 16px;
    color: rgb(0, 194, 0)
}

.heading {
    text-align: center;
    margin: 1em;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.iconBack{
    position: absolute;
    top: 30px;
    left: 30px; 
    width: 30px; 
    height: 30px;
}