.container {
  width: 24px;
  border-radius: 5px;
  border: 2px solid #00ffff;
  background-color: #1a2a44dd;
  color: #00ffff;
  padding: 5px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.4s ease-in-out;
}

.container.expanded {
  width: 150px;
}

.input {
  width: 0;
  padding: 0;
  cursor: pointer;
  color: #00ffff;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.4s ease-in-out;
}

input.expanded {
  width: 100px;
  padding-left: 10px;
}

.searchIcon {
  cursor: pointer;
}
