.navbar {
  position: absolute;
  top: 0;
  right: 0;
}

.burger {
  padding: 10px 10px 0 0;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  justify-self: end;
  margin-left: auto;
}

.burger > p {
  margin: 0;
  height: 5px;
  width: 90%;
  background-color: white;
  border-radius: 50px;
  z-index: 2;
  transition: all 0.5s ease;
}

.burger > p:first-child.active {
  transform: translateY(12px) rotateZ(45deg);
}
.burger > p:nth-child(2).active {
  opacity: 0;
}
.burger > p:last-child.active {
  transform: translateY(-15px) rotateZ(-45deg);
}

.links {
  padding: 80px 12px 0 0;
  position: absolute;
  height: 100svh;
  top: 0;
  right: -120%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  z-index: 1;
  background-color: transparent;
  transition: right 0.5s ease;
}

.active {
  right: 0;
  display: flex;
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: rgb(61, 106, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
