.container {
    height: 50vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
}
  
.container:hover {
    transform: scale(1.05);
    border: 1px solid black;
}

.heading {
    text-align: center;
    margin: 1em;
    color: rgb(255, 255, 255);
    font-size: 2em;
}

.buttonContainer{
    display: flex;
    gap: 10px;
}