.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.addEventForm {
  padding: 50px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #1a2a44dd;
  border-radius: 20px;
  border: 3px solid #00ffff;
  box-shadow: 0 0 5px #00ffff, 0 0 7px #00ffff, 0 0 10px #00ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
