.button{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 45px !important;
    height: 45px !important;

}
.size{
    width: 45px !important;
    height: 45px !important;
    touch-action: none;
    user-select: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.size:active{
    cursor: grabbing;
    transform: scale(0.95);
    filter: drop-shadow(0 5px 5px rgba(50,50,50,0.4));
}
