:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.55);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
