.container{
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.header{
    margin-bottom: 10px;
    font-size: var(--font-size-xl);
}
.threeDots{
    position: absolute;
    right: 0;
    top: -20px;
}
.measurement{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap:20px;
}
.temperature,.humidity{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.temperatureValue, .humidityValue{
    margin:0;
    font-size: var(--font-size-2xl);
}

.temperatureBar, .humidityBar{
    height: 100%;
    width: 3px;
}
.temperatureBar{
    background-color: var(--error-color);
}
.humidityBar{
    background-color: var(--info-color);
}