.container{
    width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.header{
    margin-bottom: 10px;
    font-size: var(--font-size-xs);
}
.threeDots{
    position: absolute;
    right: 0;
    top: -15px;
}
.measurement{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.temperature,.humidity{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.temperatureValue, .humidityValue{
    margin:0;
    font-size: var(--font-size-lg);
}

.temperatureBar, .humidityBar{
    height: 100%;
    width: 3px;
}
.temperatureBar{
    background-color: var(--error-color);
}
.humidityBar{
    background-color: var(--info-color);
}

@media screen and (max-width: 1200px) {
    .temperatureValue, .humidityValue{
        font-size: var(--font-size-sm);
    }
}

@media screen and (max-width: 768px) {
    .temperatureValue, .humidityValue{
        font-size: var(--font-size-xs);
    }
}