.message {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.backgroundBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  z-index: 0;
}
.messageText {
  margin: 0px;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

.error {
  color: rgba(255, 0, 0, 0.8);
}
.success {
  color: rgba(0, 255, 0, 0.8);
}
